html, body {
  font-family: sans-serif;
}

a {
  color: black;
}

section {
  margin: 8px;
}

/*
transactions
*/

.transaction {
  margin: 8px 0;
  padding: 8px;
}

/* good */
.transaction-status-unapproved {
  /*  grey */
  background-color: #e6e6e6;
}
.transaction-status-rejected {
  /*  green */
  background-color: #fdfdca;
}
.transaction-status-confirmed {
  /* green */
  background-color: #c7ffc7;
}

/* suspicious */
.transaction-status-submitted {
  /* yellow */
  background-color: #ffff6e;
}
.transaction-status-dropped {
  /* yellow */
  background-color: #ffff6e;
}

/* bad */
.transaction-status-failed {
  /* red */
  background-color: #fdcaca;
}
.transaction-status-approved {
  /* red */
  background-color: #fdcaca;
}
